html {
	font-size: 62.5%;
}
/*This is to change the base of rem, now 1.6rem = 16px!*/

body {
	background: $grey;
	font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}