/*Colors*/

$yellow: white;
$purple: #6b76ff;
$grey: #dee0d9;
$pink: #72d6c9;
$light-grey: #eeeeee;
$ballerina: #f3c1c6;

/*Spacing*/
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;